*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --blue-clr:#5b03e4;
    --pink-clr:#c03afe;
    --white:white;
    --light-font-clr:#a586bc;
}

.bg-blue{
   background-color: var(--blue-clr) !important;
}

.bg-pink{
    background-color: var(--pink-clr) !important;
}

.bg-grad{
    background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%) !important;

}

.light-font{
    color: var(--light-font-clr);
}

.pink-clr{
    color: var(--pink-clr);
}

.blue-clr{
    color: var(--blue-clr);
}

/* Header top */

.headertop>* {
    color: var(--light-font-clr);
}

.headertop a{
    text-decoration: none;
    color: var(--light-font-clr);
}

/* header */

header{
    background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%);
    color: white;
    
}

/* slider */

.slider{
    position: relative;
    padding: 295px 0px 185px 0px;
}

.slider h1{
    font-size: 52px;
    color: #2a2a2a;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;
}

.slider::before{
    display: block;
    content: url(../images/banner-left.png);
    width: 129px;
    height: 655px;
    position: absolute;    
    left: 0;
    top: 0;
    z-index: -1;

}

.slider::after{
    display: block;
    content: url(../images/banner-right.png);
    /* width: 129px;
    height: 655px; */
    position: absolute;    
    right: 0;
    top: 0;
    z-index: -1;

}

/* -------------------services------------------- */
.service{
    position: relative;
}
.service::before{
    content: url(../images/services-left.jpg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.service::after{
    content: url(../images/contact-left.jpg);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
    z-index: -1;
}

/* -------------------work--------------------- */

.work{
    padding: 10% 0px;
    /* to hide cards overflowing */
    overflow: hidden;
}

.work .card a{
    text-align: center;
    height: 30px;
    width: 30px;
    padding: 2px 3px ;
    margin: auto;
    color: var(--blue-clr);
    border: none;
    box-shadow: 0px 0px 0px 2px;
    border-radius: 50%;
}

.work .card a i{
    border: white;
}

/* -----------------------about--------------------- */

.about{
    background-image: url(../images/infos-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10% 0;
}

.about img{
    display: block;
    object-fit: cover;
    height: 100%;
    border-radius: 5% 0 0 5%;
}

.right-info{
    border-radius: 0% 5% 5% 0%;

}

@media screen and (max-width:1000px) {

    .about img{
       border-radius: 5% 5% 0 0;
    
    }
    .right-info{
        border-radius: 0 0 5% 5%;

    }
    
}


/* ------------------Contact-------------- */
.contact form .form-control{
    background-color: rgba(214, 206, 218, 0.609);
    color: black;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    
}

.form-bottom{
    background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%) ;
    width: 100%;
    color: var(--white);
    margin-right: 0 !important;
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0; */
}

.contact form{
    /* position: relative; */
    overflow: hidden;
    margin: auto;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}

html{
    scroll-behavior: smooth;
}



/* Owl Custom Css */

.owl-nav .owl-prev span, .owl-nav .owl-next span{
    font-size: 30px;
    line-height: 30px;
    background-color: #0d6efd;
    color: white;
    padding: 0px 15px;
    border-radius: 50%;
}

.owl-nav .owl-prev:hover ,.owl-nav .owl-next:hover {
  background-color:transparent !important;
}